
        body{
            background-color: lavender;
        }
       div{
            color:deeppink;
            font-size:40px;
           background-color:white;

        }


      h2{
          color: black;
          font-size:50px;
      }

        img { width: 30%;
            height: 40%;
        }
body { font-size: 50px;
    background-color: lavender;
    color: deeppink;

}
header { padding: 15px;
    margin: 20px;
a:link{ background-color: red;
     cursor: auto;
}

a:hover {
    color:white;
    background-color:lightblue;
}
#hairstyles {
    background-color: deepskyblue;
    font-size: 50px;
    padding: 20px;
     text-align: center;

}
   










